body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container {
    border: 5px solid black;
    height: 200px;
    width: 25vw;
    margin: 50px;
    display: inline-block;
}

.container-child {
    height: 100%;
    width: max-content;
    /* width: 70vw; */
    border: 3px solid yellowgreen;
    display: inline-block;
    display: flex;
    overflow: visible;
}

.child {
    min-width: 100px;
    /* width: 100px; */
    height: 50px;
    background-color: red;
    border: 1px solid green;
    display: inline-block;
}

.container1 {
    overflow: hidden;
}

.container2 {
    /* overflow: visible; */
    overflow: auto;
}

.container3 {
    overflow: scroll;
}

.container4 {
    overflow: auto;
}